.App {
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  background-color: rgb(37, 47, 82);
  min-height: 100%;
}

.home {
  &__logo {
    font-size: 2em;
    color: white;
    font-weight: 800;
    margin-bottom: 50px;
  }
  @media (max-width: 600px) {
    &__logo {
      font-size: 1.5em;
      font-weight: 700;
      margin-bottom: 30px;
    }
  }
}

.not_found {
  color: white;
  &__title {
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 50px;
  }
  @media (max-width: 600px) {
    &__title {
      font-size: 1.5em;
      font-weight: 700;
    }
  }
}

.minifig {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
}

.summary {
  height: 80%;
  width: 350px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 2%;
  padding-left: 15px;
  &__title {
    display: flex;
    justify-content: flex-start;
    font-weight: 800;
    margin-bottom: 50px;
  }
  &__img {
    img {
      width: 150px;
      height: 160px;
    }
  }
  &__description {
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
  }

  &__name {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    span {
      width: 50%;
      font-size: 0.8em;
      font-weight: 500;
    }
  }
  &__details {
    .object {
      margin: 10px 0 10px 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }
      div {
        text-align: start;
        font-size: 0.8em;
        font-weight: 500;
      }
    }
  }
  &__button {
    margin-top: 100px;
    margin-bottom: 20px;
  }
}
